main{
    text-align: center;
    padding-bottom: 40px;
}

section {
    margin-top: 60px;
}

.container{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.reverse{
    flex-direction: row-reverse;
}

section img {
    width: 400px;
}

.text {
    width: 400px;
}

section p {
    line-height: 30px;
    text-align: justify;
    margin-top: 0;
}

.plant-link {
    color: rgb(2, 167, 2);
    font-size: 18px;
}

.plant-link:hover{
    color: rgb(1, 66, 1);
}