body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
main {
    padding-bottom: 10em;
    flex: 1;
}

header{
    text-align: center;
    height: 150px;
    background-color: #436105;
    background-image: url("../assets/window2.jpg");
    background-size: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1em;

}

h1{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px yellow;
}

nav li{
    display: inline;
    padding: .25em 2em;
    margin: 10px;
    background-color: green;
    opacity: .9;
}

.menu-link{
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.menu-link:hover{
    text-shadow: 1px 1px yellow;
}

footer{
    text-align: center;
    background-color: #e4f569;
    /* grid-row: 3/4;
    position: absolute;
    bottom: 0; */
    width: 100%;
}